node_modules/
dist/
dist-lambda/
coverage/
.env
*.log
.DS_Store
localstack-data/
data_apis/tmp/
data_apis/reports/
*.zip
reporting_frontend/reports/
reporting_frontend/playwright-report/
reporting_frontend/test-results/